<!DOCTYPE html>
<html>
<head>
	<title>Registration Form</title>
</head>
<body>
	<h3>Register</h3>
	<form action="/registration" method="POST">
		Email <input type="text" name="email">
		First Name <input type="text" name="first_name">
		Last Name <input type="text" name="last_name">
		Password <input type="text" name="password">
		Confirm Password <input type="text" name="confirm_password">
		<input type="submit" name="Submit">
		{% with messages = get_flashed_messages() %}
			{% if messages %}
				{% for message in messages %}
					<p>{{message}}</p>
				{% endfor %}
			{% endif %}
		{% endwith %}
	</form>
	<hr>
	<h3>Already a user? Login</h3>
		<form action='/validate' method='POST'>
			email: <input type='text' name='email'>
			password: <input type='text' name='password'>
			<input type='submit' value='login'>
		</form>
</body>
</html>
